/* Index */
body {
  background-repeat: no-repeat;
  background-image: url("bg.jpg");
}

#index-container {
  margin-top: 200px;
  /* margin-left: 200px; */
  height: 300px;
  width: 1500px;
}

.index-link {
  height: 300px;
  width: 200px;
  margin-left: 200px;
  float: left;
  display: inline;
  
  border: 10px solid rgb(32, 83, 160);
  border-radius: 15px;
  /* outline: 10px solid rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.7);

  font-size: xx-large;
  line-height: 110px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.index-link:hover {
  background-color: rgba(230, 230, 230, 0.7);
}