<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>COVID Trends - Index Page</title>
    <link rel="stylesheet" href="index-style.css">
  </head>
  <body>
    <div id="index-container">
      <div class="index-link" onclick="window.open('map.html','_self')"><p>Covid<br>Map</p></div>
      <div class="index-link" onclick="window.open('trend.html','_self')"><p>Covid<br>Trend</p></div>
      <div class="index-link" onclick="window.open('news.html','_self')"><p>Covid<br>News</p></div>
    </div>
  </body>
</html>
