<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>COVID News</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="style.css">
    <!-- for local:  -->
    <script src="vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>
  <body>
    <div id="news">
      <el-container>
        <el-header height="30px">
          <font color="white">
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="header" href="map.html">Map</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="header" href="trend.html">Trend</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="header" href="news.html">News</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
          </font>
        </el-header>
        <el-main>
          <p id="title">CovidNews</p>
          <div id="filter">
            <!-- Time: 
            <el-date-picker v-model="retdate" type="daterange" range-separator="to" start-placeholder="  /  /  "end-placeholder="  /  /  "></el-date-picker>
            Region:
 :model="formInline"
            Keywords: -->
            <el-form :inline="true" size="mini">
              <el-form-item label="Time: ">
                <el-col :span="11">
                  <el-date-picker type="date" placeholder="    /    /    " v-model="retFilt.date1" style="width: 100%;"></el-date-picker>
                </el-col>
                <el-col :span="2"> &nbsp;&nbsp;&nbsp;to </el-col>
                <el-col :span="11">
                  <el-date-picker type="date" placeholder="    /    /    " v-model="retFilt.date2" style="width: 100%;"></el-time-picker>
                </el-col>
              </el-form-item>
              <el-form-item label="Region: ">
                <el-input v-model="retFilt.reg"></el-input>
              </el-form-item>
              <el-form-item label="Keywords: ">
                <el-input v-model="retFilt.key"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">Apply Filter</el-button>
              </el-form-item>
            </el-form>
          </div>
          <el-divider></el-divider>
          <div class="entry-container" v-for="(it, key) in newsData">
            <a class="entry-url" v-bind:href="it.url"> {{ it.title }} </a><br>
            <p class="entry-content"></p>short description {{ it.id }}
            <el-divider></el-divider>
          </div>
        </el-main>
      </el-container>
    </div>
    
    <script src="script-news.js"></script>
  </body>
</html>
